@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Montserrat:wght@200;300;400;600&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300&family=Roboto:wght@400;700&family=Work+Sans:ital,wght@1,700&display=swap');
* {
    list-style-type: none;
    text-decoration: none;
    color: #7272a4;
    font-family: 'open sans', sans-serif;
}
body {
    min-height: 100vh;
    background: rgb(211,212,251);
    background: linear-gradient(155deg, rgba(211,212,251,1) 0%, rgba(156,162,248,0.7) 40%, rgba(229,229,248,1) 100%);
}
.hero-img {
    width: 200px;
}
.headline h1 {
    text-transform: uppercase;
    font-size: 2.25rem;
    margin-left: 45px;
    line-height: 15px;
    text-shadow: #d1d3ec 1px 1px 12px;
    transform: scale(1.1);
    transition: transform 0.6s ease-in;
    font-weight: 700;
}
.dark {
    color: #7272a4;
    letter-spacing: -1.3px;
}
.light {
    color: #fff;
    text-shadow: #8e90aa 3px 3px 3px;
    /* color:#8289ed; */
    letter-spacing: 1.3px;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    padding: 20px;
    font-size: 1.1rem;
    gap: 30px;
}
nav ul li a {
    text-transform: uppercase;
    font-size: .98rem;
    letter-spacing: .13rem;
    font-weight: 500;
    margin: 0;
    text-shadow: #cccde4 8px 8px 8px;
}
nav ul li a:hover {
    color: #676ecf;
    padding-bottom: 5px;
    border-bottom: 3.5px solid#676ecf;
    cursor: pointer;
    transition: all 0.1s linear;
}
.display-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.hero-img {
    width: 16rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 19%;
    box-shadow: -12px -10px 4px #6767935a;
}
.headline h2 {
    margin-left: 25px;
    max-width: 450px;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: .4px;
    color: #60608b;
    line-height: 1.4;
    text-shadow: #d1d3ec 1px 1px 12px;
}
button {
    border: none;
    margin-left: 22px;
    padding: 10px 25px;
    border-radius: 5px;
    /* background-color: #7272a4e3;     */
    background-color:  rgba(136, 143, 234, 0.785);
    color: #fff;
    font-size: 1.05rem;
    font-weight: 500;
}
button:hover {
    background-color: #676ecf;
    cursor: pointer;
    transform: scale(.98);
    transition: transform 0.1s linear;
}
video {
    max-width: 1000px;
    padding: 40px;
}
h4 {
    color: rgb(51, 50, 50);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.5px;
}
body {
    position: relative;
}
footer h4 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: .98rem;
    letter-spacing: .03rem;
    font-weight: 300;
    margin: 0;
    color: #676793;
    text-shadow: #cccde4 8px 8px 8px;
}
