input, 
textarea {
    margin: 10px 0 30px 0;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.932);
    width: 95%;
}
input::placeholder,
textarea::placeholder {
    color: #60608b;
    font-size:medium;
    font-weight: 400;
}
p {
    color: whitesmoke;
}
form {
    width: fit-content;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 20px auto;
    padding: 30px;  
    border: 3px solid whitesmoke;
    background: rgba(211,212,251);
}
a {
    color: white;
}
h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: .01rem;
    font-weight: 300;
    text-shadow: #d1d3ec 10px 10px 12px;
    text-align: center;
    width: fit-content;
}

@media (min-width: 500px) {
    h1 {
        font-size: 4.5rem;
        letter-spacing: .29rem;
        border-bottom: #7272a4 1px solid;
        margin: 0 auto;
    }
}
h2 {
    font-size: 1rem;
    text-align: center;
    margin: 0;
    font-weight: 500;
    padding: 0 0 37px 0;
}
.display-flex__column h2 {
    color: white;   
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 1.1rem;
}

@media (min-width: 500px) {
    .display-flex__column h2 {
        padding: 10px;
        font-size: 1.5rem;
    }
}
form h2 {
    width: 340px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
@media (min-width: 500px) {
    .buttons {
        flex-direction: row;
    }
}
label {
    color: #fff;
    font-size: large;
    font-weight: 600;
    margin: 0 5px -5px 0;
}