img {
    width: 700px;
}
.project__container {
    color: #7272a4;
    background-color: rgba(245, 245, 245, 0.8); 
    padding: 5px 10px;
    border-radius: 15px;  
    margin: 30px;
    width: 840px;
}
h1 {
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: .3rem;
    font-weight: 300;
    margin: 0;
    text-shadow: #d1d3ec 10px 10px 12px;
}
h2 {
    color: #9e9ed8;
    font-size: 2rem;
    text-transform: uppercase;
}
h3 {
    font-size: 1.25rem;
    /* max-width: 500px; */
    text-align: center;
    margin: 0;
    font-weight: 400;
    margin-bottom: 10px;
    border-top: #7272a4 1px solid;
    padding-top: 7px;
}
.project-img-wide {
    max-width: 750px;
    padding: 20px 40px;
    height: auto;
}
.project-img-tall {
    max-height: 600px;
    width: auto;
    padding: 40px;
    margin: 0 auto;
}
a {
    padding-top: 17px;
}
h3 i {
    color: rgb(148, 151, 239);
    padding: 0 11px 0 9px;
    margin: 0;
}
.display-flex {
    align-items: baseline;
}
.display-flex p {
    padding-left: 13px;
}
.dark {
    max-width: 500px;
}